# Let's get started with importing

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import scipy
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison

In [7]:
AACdata = pd.read_csv("C:/Users/smkri/Documents/GitHub/DataAfterDarkFinal/Data/aac_intakes_outcomesCLEAN.csv")

In [4]:
AACdata.head()

,animal_id_intake,animal_type,intake_condition,intake_type,sex_upon_intake,intake_year,animal_id_outcome,outcome_subtype,outcome_type,sex_upon_outcome,outcome_year
0,A006100,Dog,Normal,Stray,Neutered Male,2017,A006100,NaN,Return to Owner,Neutered Male,2017
1,A006100,Dog,Normal,Public Assist,Neutered Male,2014,A006100,NaN,Return to Owner,Neutered Male,2014
2,A006100,Dog,Normal,Public Assist,Neutered Male,2014,A006100,NaN,Return to Owner,Neutered Male,2014
3,A047759,Dog,Normal,Owner Surrender,Neutered Male,2014,A047759,Partner,Transfer,Neutered Male,2014
4,A134067,Dog,Injured,Public Assist,Neutered Male,2013,A134067,NaN,Return to Owner,Neutered Male,2013

## Followed by some data wrangling

In [16]:
# AACdata = AACdata.drop("outcome_subtype", axis=1)
# AACdata = AACdata.drop("animal_id_outcome", axis=1)

## Now a bit of recoding

In [8]:
def Euth(series):
    if series == "Euthanasia":
        return 0
    if series != "Euthanasia":
        return 1

AACdata["OutcomeR"] = AACdata["outcome_type"].apply(Euth)

In [17]:
AACdata.head()

,animal_id_intake,animal_type,intake_condition,intake_type,sex_upon_intake,intake_year,outcome_type,sex_upon_outcome,outcome_year,OutcomeR
0,A006100,Dog,Normal,Stray,Neutered Male,2017,Return to Owner,Neutered Male,2017,1
1,A006100,Dog,Normal,Public Assist,Neutered Male,2014,Return to Owner,Neutered Male,2014,1
2,A006100,Dog,Normal,Public Assist,Neutered Male,2014,Return to Owner,Neutered Male,2014,1
3,A047759,Dog,Normal,Owner Surrender,Neutered Male,2014,Transfer,Neutered Male,2014,1
4,A134067,Dog,Injured,Public Assist,Neutered Male,2013,Return to Owner,Neutered Male,2013,1

In [10]:
AACdata.OutcomeR.value_counts()

1    71928
0     2977
Name: OutcomeR, dtype: int64

## --- Out of 74,905 intakes, 2,977 of them were euthanized.

In [ ]:
# Sort by year